$color1_saxony_blue: #176b87;
$color1_fly_away: #86b6f6;
$color1_ice_cold_stare: #b4d4ff;
$color1_first_snow: #eef5ff;
$color1_water_flow: #7fc7d9;
$color1_blue_quartz: #365486;
$color1_winter_meadow: #b6fffa;
$color1_parakeet_blue: #0c356a;
$color1_byzantine_night_blue: #279eff;
