@use 'the-new-css-reset/css/reset.css';
@use './animation1';
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  font-family: 'M PLUS 1', sans-serif;
}

body {
  position: fixed;
}

#app {
  width: 100vw;
  height: 100vh;
}
